/* mobile only */

@media (max-width: 640px) {
  .page-container {
    padding-block-start: 130px;
  }

  .main-header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: inset 0px -2px 2px 0px #0b0339;
  }

  .main-header .main-nav {
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s;
    justify-content: flex-end;
    position: absolute;
    transform: translateY(100%);
    left: 0;
    bottom: 0;
    align-items: center;
    background-color: var(--primary-clr-200);
  }

  .main-header .logo-container {
    display: flex;
    align-self: flex-start;
  }

  .main-header .toggle-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .main-nav .page-link {
    width: 100%;
  }

  body.menu-open .main-nav {
    max-height: 100vh;
  }

  body.menu-open .main-nav > li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  body.menu-open .toggle-menu span {
    display: none;
  }

  body.menu-open .toggle-menu::before {
    content: "X";
  }

  .gallery-page {
    align-items: center;
  }

  .page-container {
    overflow: auto;
  }

  .gallery-controls {
    justify-content: center;
  }

  .editor-page {
    flex-direction: column;
  }

  .editor-page .text-controls {
    grid-column: 3;
  }

  .editor-page .canvas-container {
    margin: 0 auto;
    width: 100%;
  }
}

/* small */
@media (min-width: 640px) {
  html {
    font-size: 14px;
  }

  .main-header {
    padding-inline-end: 0;
    padding-inline-start: 0;
    border-radius: 4em;
  }

  .main-header .logo-container {
    margin-inline-start: 2em;
  }

  .toggle-menu {
    display: none;
  }

  .page-container.gallery-page {
    max-width: 600px;
  }

  .meme-gallery {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .editor-page {
    flex-direction: column;
  }
  .page-container {
    overflow: auto;
  }
}

/* medium */
@media (min-width: 900px) {
  .page-container.gallery-page {
    max-width: 890px;
  }

  .meme-gallery {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .editor-page {
    padding: 2rem;
    flex-direction: row;
    align-self: center;
  }

  .editor-page .control-box {
    margin-inline-start: 1rem;
  }
}

/* large */
@media (min-width: 1030px) {
  html {
    font-size: 16px;
  }

  .main-header {
    padding-inline-end: 10rem;
    padding-inline-start: 10rem;
  }

  .meme-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .editor-page .control-box {
    height: 500px;
  }
}
