.gallery-page {
  background-color: var(--secondary-clr-300);
  color: var(--secondary-clr-600);
  padding: 1rem;
  overflow: auto;
}

.gallery-controls {
  align-self: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.meme-gallery {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.meme {
  width: 200px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.meme img {
  border-radius: 5%;
}
