.gallery-page {
  background-color: var(--secondary-clr-300);
  color: var(--secondary-clr-600);
  padding: 1rem;
  overflow: auto;
  background-image: url("../../img/meme-wallpaper-rouge.jpg");
}

.gallery-controls {
  align-self: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery-controls .choose-genre {
  font-size: 1rem;
}

.gallery-controls .choose-genre:hover {
  color: var(--primary-clr-300);
}

.meme-gallery {
  gap: 1.6rem;
}

.meme {
  width: 200px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.meme img {
  border-radius: 5%;
}
