* {
  box-sizing: border-box;
}

html {
  font-family: poppins;
  color: var(--secondary-clr-600);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  padding: 0;
  border: unset;
  color: var(--primary-clr-600);
  background-color: unset;
  cursor: pointer;
}

img {
  width: 100%;
}
