/* list helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* display helpers */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* spacing helpers */

.mb-3 {
  margin-bottom: 1.5rem;
}

/* flex helpers */
.flex.flex-column {
  flex-direction: column;
}

.flex.space-around {
  justify-content: space-around;
}
.flex.space-between {
  justify-content: space-between;
}

/* button helpers */

.styled-btn {
  width: 4rem;
  height: 3rem;
  flex: 1;
  border-radius: 20%;
  font-size: 1.5rem;
  font-family: "poppins-semi";
  box-shadow: inset 0px -4px 2px 1px rgb(0 0 0 / 60%),
    inset 0px 1px 2px 0px rgb(255 255 255 / 60%);

  background-color: rgb(73, 83, 113);
}

.styled-btn:hover {
  opacity: 0.8;
}
.styled-btn:active {
  box-shadow: inset 0px 4px 2px 1px rgb(0 0 0 / 60%);
}

/* design helpers */
.capsule {
  border-radius: 4em;
}
