.genre-list {
  gap: 15px;
}

.main-header {
  font-family: Impact;
  align-items: center;
  background-color: var(--primary-clr-200);
  margin-bottom: 2rem;
  background: linear-gradient(var(--secondary-clr-300), var(--primary-clr-200));
}

.logo-container {
  align-self: flex-end;
  cursor: pointer;
}

.main-header .logo-img-container {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
}

.main-header .logo-txt-container {
  display: inline-block;
}

.main-nav .page-link:first-of-type {
  border-inline-start: 1px solid rgb(62, 62, 62);
}

.main-nav .page-link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  height: 100px;
  width: 100px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-inline-end: 1px solid rgb(62, 62, 62);
}

.main-nav .page-link:hover {
  color: var(--primary-clr-300);
  box-shadow: inset 0 -8px 0 0 var(--primary-clr-300);
}
.main-nav .page-link.active {
  color: var(--primary-clr-300);
  box-shadow: inset 0 -8px 0 0 var(--primary-clr-300);
}
