:root {
  --primary-clr-100: rgb(15, 4, 76);
  --primary-clr-200: rgb(20, 30, 97);
  --primary-clr-300: rgb(177, 208, 224);
  --primary-clr-400: rgb(233, 213, 218);
  --secondary-clr-300: rgb(80, 84, 122);
  --secondary-clr-600: rgb(238, 238, 238);
}
